div {
	display: blcok;
}

a {
    position: relative;
    margin-left: auto;
	margin-right: auto;
    cursor:pointer;
}

.SpotifyConnect{
    width:300px;
}

.YoutubeConnect{
    width:150px;
    height:100px;
}
.GoogleConnect{
    width:200px;
    height:200px;
}
