body{
	font-family: 'Open Sans', sans-serif;
	float: center;
	background: #3498db;
	margin: 0 auto;
	text-align: center;
	margin: 20px 0px;	
	width: auto;
}

.clickable {
	cursor: pointer;
}

a, p{
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}

.black {
	color: #000000;
}

a{
	text-decoration: none;
    text-align: center;
}

.logout{
    position: fixed;
    cursor: pointer;
    font-size: 12px;
    top: 0;
    right: 0;
}
.usernameDisplay{
    position: fixed;
    font-size: 12px;
    top: 0;
    left: 0;
}

#displayUsername{
    position: fixed;
    color: white;
    font-size: 12px;
    top: 20px;
    left: 0px;
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext {
	font-size: 12px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.subTable {
	font-size: 10px;
	background-color: #fff8b5;
}
td {
	padding: 0px 5px;
}