body{
	font-family: 'Open Sans', sans-serif;
	float: center;
	background: #3498db;
	margin: 0 auto;
	text-align: center;
	margin: 20px 0px;	
	width: auto;
}

a, p{
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}

a{
	text-decoration: none;
    text-align: center;
}


.logout{
    position: fixed;
    cursor: pointer;
    font-size: 12px;
    top: 0;
    right: 0;
}
.usernameDisplay{
    position: fixed;
    font-size: 12px;
    top: 0;
    left: 0;
}

#displayUsername{
    position: fixed;
    color: white;
    font-size: 12px;
    top: 20px;
    left: 0px;
}